# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/msvs2017/x64/
build/msvs2017/.vs/
bin/LayoutTools.ilk
bin/LayoutTools.pdb
bin/tests/Prop2_v1.gds
bin/tests/Prop2_v1.png
build/msvs2015/.vs/
bin/output.gds
build/msvs2019/.vs/
build/msvs2019/x64/
bin/report.txt
bin/tests/testDesign.gds
bin/tests/testDesign.txt
bin/tests/PASSIVE.gds
bin/tests/PASSIVE.gds.txt
bin/tests/test2.gds
